# Development Docker Compose
services:
  postgres:
    image: postgres:16-alpine
    container_name: habit-tracker-db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: habit_tracker_db
    ports:
      - "5436:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:alpine
    container_name: habit-tracker-redis
    restart: always
    ports:
      - "6379:6379"

volumes:
  postgres_data:
